.desktop_add_product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    input{
        text-align: center;
        border: none;
        width: 50px;
        margin-right: 35px;
        margin-left: 25px;
        font-size: 25px;
        font-weight: 800;
    }
    .circle{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $c2;
        &:hover{
            background-color: $c1draker;
        }
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            color: white;
            font-size: 40px;
            cursor: pointer;
            &:hover{
                color: $c3;
            }
        }
    }
}