.sideHeader_mobile_container{
    .content{
        display: flex;
        justify-content: center;
        align-items: center;

        .card_content{
            margin: 10px;
            padding: 10px;
            border-radius: 15px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            &:hover{
                background-color: $c3;
                color: white;
            }
        }

        .currentLocation {
            margin: 10px;
            padding: 10px;
            border-radius: 15px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $c3;
            color: white;
        }
    }
}