
.desktop_category_view{
    height: 100vh;
    background-color: $c1;
    overflow: auto;
}
.left_side_content_standing_container{
    display: flex;
    justify-content: center;
    align-items: center;

    .left_side_content_standing{
        width: 90%;
        .standing_content_card{
            display: flex;
            background-color: white;
            width: 80%;
            height: 150px;
            margin-top: 50px;
            border-radius: 80px;
            align-items: center;
            

            .right_side_cont{
                width: 100%;
                display: flex;
                float: right;
                img{
                    width: 80px;
                    height: 80px;
                    margin-right: 50px;
                }
            }

            .left_side_cont{
                margin-left: 100px;
                display: flex;
                justify-content: left;
                width: 100%;
                float: left;
                input{
                    text-align: center;
                    border: none;
                    width: 50px;
                    margin-right: 35px;
                    margin-left: 25px;
                    font-size: 25px;
                    font-weight: 800;
                }
                .circle{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: $c2;
                    &:hover{
                        background-color: $c1draker;
                    }
                    span{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        margin: 0 auto;
                        color: white;
                        font-size: 40px;
                        cursor: pointer;
                        &:hover{
                            color: $c3;
                        }
                    }
                }
            }


        }
    }
}

.standing_buttons{
    
    display: flex;
    justify-content: center;
    margin-left: 300px;
    align-items: center;
    button{
        border: none;
        background-color: white;
        width: 190px;
        height: 40px;
        border-radius: 20px;
        margin: 40px;
        font-size: 20px;
        cursor: pointer;
        &:hover{
            background-color: rgb(107, 161, 241);
            color: white;
        }
    }
}