$get-path-to-assets : "https://shani-b2b.statos.co.il/src/img/";
//$get-path-to-assets : "http://localhost:8888/medi_b2b/src/img/";
$nav: 340px;

$bgtrue: #f5f5f5;
$title: #4f4f4f;

$main-bg: #fff;



/*
#ecc32d
#ebd300
black
#272e6b
*/


$blue: #187c84;
$c1: #e9f5f5;
$c2: #b0a2ff;//#3E8CE1;
// $c3: #75eded;
$c3: #51dafc;
$c1draker: #9d8dfc;

$c6: #979BA5;//166dab94

$light-c6: #cdcfd6;
$c7: #2C1E5D;
$c8: #7D93E3;

$text: #42474c;

$c4: #dadada;
$c5: #e6e6e6;
$dark-grey: #333333;

$c1Opacity: #9978502e;

$greenDark: #679509;
$green: #86ae34;
$button: #4682B4;
$light-grey: #f7f7f7;
$almost-black: #757575;
$header:#fff;
$icons-grey:#e0e0e0;


$new_bg: #f8f8fb;
$new_ele: #fff;
$new_title: #434349;
$new_txt1: #595d6e;
$new_txt2: #74788d;
$new_border: #f0f3ff;
$new_border2: #ebedf2;

$new_purple1: #5d78ff;
$new_purple1_fade: rgba(93,120,255,.1);
$new_purple_text1: #656d9a;

$new_green1: #0abb87;
$new_green1_fade: rgba(10,187,135,.1);

$new_red1: #fd397a;
$new_red1_fade: rgba(253,57,122,.1);
$icon_bg: #e1e3ec;
$icon-color: #959CB6;



.c1 {color: $c1;}
.c2 {color: $c2;}
.c3 {color: $c3;}

.bg1 {background: $c1;}
.bg2 {background: $c2;}
.bg3 {background: $c3;}
